@using MvcSiteMapProvider.Web.Html;
@using GSID.Model.MongodbModels;
@using GSID.Admin.Helpers;
@using GSID.Admin.Areas.PageManagement.ViewModels;
@using GSID.Model.ExtraEntities;
@model AboutPageViewModel
@{
    var SiteInformation = GSID.Admin.Controllers.BaseController.GSIDSessionSiteInformation;
    string httpStatic = SiteInformation != null ? SiteInformation.UrlAddressSiteMultimedia : "";
}

<div class="accordion-group" id="accordionAboutCoreValue">
    <div class="panel accordion-item">
        <a class="accordion-title" data-toggle="collapse" data-parent="#accordionAboutCoreValue" href="#collapseaAboutCoreValue" aria-expanded="true"><h2>Giá trị cốt lõi</h2></a>
        <div id="collapseaAboutCoreValue" class="collapse in" aria-expanded="true">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tab-container tab-default">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tbSectionCoreValueTitleVn" data-toggle="tab"><img class="flag-language" src="/Content/Control/assets/flags/vn.svg"> Tiếng Việt</a></li>
                                <li><a href="#tbSectionCoreValueTitleEn" data-toggle="tab"><img class="flag-language" src="/Content/Control/assets/flags/en.svg"> Tiếng Anh</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tbSectionCoreValueTitleVn">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.SectionCoreValueTitleNameVn)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.SectionCoreValueTitleNameVn, new { @class = "form-control", @placeholder = "Tiêu đề" })
                                            @Html.ValidationMessageFor(model => model.SectionCoreValueTitleNameVn)
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tbSectionCoreValueTitleEn">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.SectionCoreValueTitleNameEn)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.SectionCoreValueTitleNameEn, new { @class = "form-control", @placeholder = "Tiêu đề" })
                                            @Html.ValidationMessageFor(model => model.SectionCoreValueTitleNameEn)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="panel panel-default alt no-boxshadow" data-widget='{"id" : "wiget1"}'>
                            <div class="panel-body">
                                <div class="panel-ctrls">
                                    <div class="pull-left">
                                        <div class="btn-group">
                                            @Html.RawActionLink("<i class='ion-plus'></i><span> Thêm mới</span>", null, null, null, new { @class = "btn btn-default btn-xs", href = "javascript:;", onclick = "onCreateCoreValue();" })
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div id="tbCorevalues">
                                    @if (Model.CoreValues != null)
                                    {
                                        <ul class="ul-img">
                                            @foreach (var item in Model.CoreValues)
                                            {
                                                <li class="li-24">
                                                    <div class="img-wrap">
                                                        <div class="img-cover text-center">
                                                            <a href="@string.Format("{0}/{1}", httpStatic, item.ImageSrc)">
                                                                <img src="@string.Format("{0}/{1}", httpStatic, item.ImageSrc)" style="width:100px;" >
                                                            </a>
                                                            <h5>@item.NameVn</h5>
                                                            <p>@item.DescriptionVn</p>
                                                        </div>
                                                        <div class="img-action">
                                                            <a href="javascript:;" class"btn btn-default btn-xs" onclick="onUpdateCoreValue('@item.Id.ToString()')"><i class="ion-android-create"></i></a>
                                                            <a href="javascript:;" class"btn btn-danger btn-xs" onclick="onDeleteCoreValue('@item.Id.ToString()')"><i class="ion-android-close"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function onLoadCoreValue() {
        $.ajax({
            method: 'GET',
            url: '@Url.Action("PartialListCoreValue", Request.RequestContext.RouteData.Values["controller"].ToString(), new { Area = "PageManagement"})',
            data: { },
            dataType: 'html',
            success: function (data, status) {
                swal.close();
                $('#tbCorevalues').html(data);
            },
            error: function (error) {
                console.log('Error in sending ajax data');
            }
        });
    }

    function onCreateCoreValue() {
        swal({
            title: "Đang xử lý dữ liệu",
            html: true,
            showConfirmButton: false
        });
        $.ajax({
            method: 'GET',
            url: '@Url.Action("PartialCreateCoreValue", Request.RequestContext.RouteData.Values["controller"].ToString(), new { Area = "PageManagement"})',
            data: { },
            dataType: 'html',
            success: function (data, status) {
                swal.close();
                $('#binding-modal').html(data);
            },
            error: function (error) {
                console.log('Error in sending ajax data');
            }
        });
    }

    function onUpdateCoreValue(val) {
        swal({
            title: "Đang xử lý dữ liệu",
            html: true,
            showConfirmButton: false
        });
        $.ajax({
            method: 'GET',
            url: '@Url.Action("PartialUpdateCoreValue", Request.RequestContext.RouteData.Values["controller"].ToString(), new { Area = "PageManagement"})',
            data: { gsid : val},
            dataType: 'html',
            success: function (data, status) {
                swal.close();
                $('#binding-modal').html(data);
            },
            error: function (error) {
                console.log('Error in sending ajax data');
            }
        });
    }

    function onDeleteCoreValue(val) {
        if (val.length > 0) {
            swal({
                title: 'Bạn đã chắc chứ?',
                text: "Bạn có chắc muốn xóa dữ liệu này không",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Xóa",
                cancelButtonText: "Đóng",
                closeOnConfirm: false,
                closeOnCancel: false
            },function (isConfirm) {
                if (isConfirm) {
                    swal({
                        title: "Đang xử lý dữ liệu",
                        html: true,
                        showConfirmButton: false
                    });
                    $.ajax({
                        url: '@Url.Action("DeleteCoreValue", Request.RequestContext.RouteData.Values["controller"].ToString(), new { Area = "PageManagement"})',
                        type: 'POST',
                        data: { id: val },
                        dataType: 'json',
                        success: function (result) {
                            swal.close();
                            if (result.Status == '2') {
                                onLoadCoreValue();
                            }
                            else {
                                swal("Lỗi", "Hệ thống gặp vấn đề", "error");
                            }
                        },
                        error: function () {
                            swal("Lỗi", "Hệ thống gặp vấn đề", "error");
                        }
                    });
                }
                else {
                    swal.close();
                }
            });
        }
    }
</script>