@using MvcSiteMapProvider.Web.Html;
@using GSID.Model.MongodbModels;
@using GSID.Admin.Helpers;
@using GSID.Admin.Areas.PageManagement.ViewModels;
@using GSID.Model.ExtraEntities;
@using GSID.Setting;
@model ContactPageViewModel
@Html.MvcSiteMap().SiteMapPath("MyBreadscrum")
@{
    var SiteInformation = GSID.Admin.Controllers.BaseController.GSIDSessionSiteInformation;
    string httpStatic = SiteInformation != null ? SiteInformation.UrlAddressSiteMultimedia : "";
}

<div class="container-fluid">
    @using (Html.BeginForm("EditHomePage", Request.RequestContext.RouteData.Values["controller"].ToString(), new { area = "PageManagement" }, FormMethod.Post, new { @class = "form-horizontal row-border tabular-form EditHomePage", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default alt" data-widget='{"id" : "wiget1"}'>
                    <div class="panel-heading">
                        <div class="panel-ctrls"
                             data-actions-container=""
                             data-action-collapse='{"target": ".panel-body"}'
                             data-action-refresh=''
                             data-action-close=''>
                        </div>
                        <h2>@Html.MvcSiteMap().SiteMapTitle()</h2>
                    </div>
                    <div class="panel-editbox" data-widget-controls=""></div>
                    <div class="panel-body">
                        <div class="col-12">
                            <div class="tab-container tab-default">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#buildform" data-toggle="tab">Thiết lập trang</a></li>
                                    <li><a href="#informationpage" data-toggle="tab">Thông tin chung</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="buildform">
                                        <div class="row row-flex">
                                            <div class="col-sm-12">
                                                <div class="accordion-group" id="accordionContactUs">
                                                    <div class="panel accordion-item">
                                                        <a class="accordion-title" data-toggle="collapse" data-parent="#accordionContactUs" href="#collapseaContactUs" aria-expanded="true"><h2>Thông tin</h2></a>
                                                        <div id="collapseaContactUs" class="collapse in" aria-expanded="true">
                                                            <div class="accordion-body">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="tab-container tab-default">
                                                                            <ul class="nav nav-tabs">
                                                                                <li class="active"><a href="#tbSectionCoreValueTitleVn" data-toggle="tab"><img class="flag-language" src="/Content/Control/assets/flags/vn.svg"> Tiếng Việt</a></li>
                                                                                <li><a href="#tbSectionCoreValueTitleEn" data-toggle="tab"><img class="flag-language" src="/Content/Control/assets/flags/en.svg"> Tiếng Anh</a></li>
                                                                            </ul>
                                                                            <div class="tab-content">
                                                                                <div class="tab-pane active" id="tbSectionCoreValueTitleVn">
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.SectionContactUsTitleNameVn)</label>
                                                                                        <div class="col-sm-8">
                                                                                            @Html.TextBoxFor(model => model.SectionContactUsTitleNameVn, new { @class = "form-control", @placeholder = "Tiêu đề" })
                                                                                            @Html.ValidationMessageFor(model => model.SectionContactUsTitleNameVn)
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.SectionContactUsDescriptionVn)</label>
                                                                                        <div class="col-sm-8">
                                                                                            @Html.TextAreaFor(model => model.SectionContactUsDescriptionVn, new { @class = "form-control", @placeholder = "" })
                                                                                            @Html.ValidationMessageFor(model => model.SectionContactUsDescriptionVn)
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <div class="col-sm-4">
                                                                                            <div class="tab-container tab-default">
                                                                                                <ul class="nav nav-tabs">
                                                                                                    <li class="active"><a href="#tbphone" data-toggle="tab">Điện thoại</a></li>
                                                                                                </ul>
                                                                                                <div class="tab-content">
                                                                                                    <div class="tab-pane active" id="tbphone">
                                                                                                        <div class="row">
                                                                                                            <div class="col-sm-12">
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.PhoneDescriptionVn)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextAreaFor(model => model.PhoneDescriptionVn, new { @class = "form-control", @placeholder = "" })
                                                                                                                        @Html.ValidationMessageFor(model => model.PhoneDescriptionVn)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-sm-4">
                                                                                            <div class="tab-container tab-default">
                                                                                                <ul class="nav nav-tabs">
                                                                                                    <li class="active"><a href="#" data-toggle="tab">Email</a></li>
                                                                                                </ul>
                                                                                                <div class="tab-content">
                                                                                                    <div class="tab-pane active">
                                                                                                        <div class="row">
                                                                                                            <div class="col-sm-12">
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.EmailDescriptionVn)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextAreaFor(model => model.EmailDescriptionVn, new { @class = "form-control", @placeholder = "" })
                                                                                                                        @Html.ValidationMessageFor(model => model.EmailDescriptionVn)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-sm-4">
                                                                                            <div class="tab-container tab-default">
                                                                                                <ul class="nav nav-tabs">
                                                                                                    <li class="active"><a href="#sdfsdf" data-toggle="tab">Địa chỉ</a></li>
                                                                                                </ul>
                                                                                                <div class="tab-content">
                                                                                                    <div class="tab-pane active">
                                                                                                        <div class="row">
                                                                                                            <div class="col-sm-12">
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.GoogleMapDescriptionVn)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextAreaFor(model => model.GoogleMapDescriptionVn, new { @class = "form-control", @placeholder = "" })
                                                                                                                        @Html.ValidationMessageFor(model => model.GoogleMapDescriptionVn)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.GoogleMapUrl)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextBoxFor(model => model.GoogleMapUrl, new { @class = "form-control", @placeholder = "" })
                                                                                                                        @Html.ValidationMessageFor(model => model.GoogleMapUrl)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.GoogleMapTitleUrlVn)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextBoxFor(model => model.GoogleMapTitleUrlVn, new { @class = "form-control", @placeholder = "", rows = "10" })
                                                                                                                        @Html.ValidationMessageFor(model => model.GoogleMapTitleUrlVn)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.GoogleMapEmbedCodeVn)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextAreaFor(model => model.GoogleMapEmbedCodeVn, new { @class = "form-control", @placeholder = "", rows = "10" })
                                                                                                                        @Html.ValidationMessageFor(model => model.GoogleMapEmbedCodeVn)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="tab-pane" id="tbSectionCoreValueTitleEn">
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.SectionContactUsTitleNameEn)</label>
                                                                                        <div class="col-sm-8">
                                                                                            @Html.TextBoxFor(model => model.SectionContactUsTitleNameEn, new { @class = "form-control", @placeholder = "Tiêu đề" })
                                                                                            @Html.ValidationMessageFor(model => model.SectionContactUsTitleNameEn)
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.SectionContactUsDescriptionEn)</label>
                                                                                        <div class="col-sm-8">
                                                                                            @Html.TextAreaFor(model => model.SectionContactUsDescriptionEn, new { @class = "form-control", @placeholder = "" })
                                                                                            @Html.ValidationMessageFor(model => model.SectionContactUsDescriptionEn)
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <div class="col-sm-4">
                                                                                            <div class="tab-container tab-default">
                                                                                                <ul class="nav nav-tabs">
                                                                                                    <li class="active"><a href="#" data-toggle="tab">Điện thoại</a></li>
                                                                                                </ul>
                                                                                                <div class="tab-content">
                                                                                                    <div class="tab-pane active">
                                                                                                        <div class="row">
                                                                                                            <div class="col-sm-12">
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.PhoneDescriptionEn)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextAreaFor(model => model.PhoneDescriptionEn, new { @class = "form-control", @placeholder = "" })
                                                                                                                        @Html.ValidationMessageFor(model => model.PhoneDescriptionEn)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-sm-4">
                                                                                            <div class="tab-container tab-default">
                                                                                                <ul class="nav nav-tabs">
                                                                                                    <li class="active"><a href="#" data-toggle="tab">Email</a></li>
                                                                                                </ul>
                                                                                                <div class="tab-content">
                                                                                                    <div class="tab-pane active">
                                                                                                        <div class="row">
                                                                                                            <div class="col-sm-12">
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.EmailDescriptionEn)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextAreaFor(model => model.EmailDescriptionEn, new { @class = "form-control", @placeholder = "" })
                                                                                                                        @Html.ValidationMessageFor(model => model.EmailDescriptionEn)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-sm-4">
                                                                                            <div class="tab-container tab-default">
                                                                                                <ul class="nav nav-tabs">
                                                                                                    <li class="active"><a href="#" data-toggle="tab">Địa chỉ</a></li>
                                                                                                </ul>
                                                                                                <div class="tab-content">
                                                                                                    <div class="tab-pane active">
                                                                                                        <div class="row">
                                                                                                            <div class="col-sm-12">
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.GoogleMapDescriptionEn)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextAreaFor(model => model.GoogleMapDescriptionEn, new { @class = "form-control", @placeholder = "" })
                                                                                                                        @Html.ValidationMessageFor(model => model.GoogleMapDescriptionEn)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.GoogleMapUrl)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextBoxFor(model => model.GoogleMapUrl, new { @class = "form-control", @placeholder = "" })
                                                                                                                        @Html.ValidationMessageFor(model => model.GoogleMapUrl)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.GoogleMapTitleUrlEn)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextBoxFor(model => model.GoogleMapTitleUrlEn, new { @class = "form-control", @placeholder = "" })
                                                                                                                        @Html.ValidationMessageFor(model => model.GoogleMapTitleUrlEn)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label class="col-sm-12">@Html.DisplayNameFor(m => m.GoogleMapEmbedCodeEn)</label>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        @Html.TextAreaFor(model => model.GoogleMapEmbedCodeEn, new { @class = "form-control", @placeholder = "", rows = "10" })
                                                                                                                        @Html.ValidationMessageFor(model => model.GoogleMapEmbedCodeEn)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="informationpage">
                                        <div class="row row-flex">
                                            <div class="col-sm-9">
                                                <div class="row row-flex">
                                                    <div class="col-sm-12">
                                                        <div class="tab-container tab-default">
                                                            <ul class="nav nav-tabs">
                                                                <li class="active"><a href="#PageGeneral" data-toggle="tab">Thông tin trang</a></li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="PageGeneral">
                                                                    <div class="tab-container tab-default">
                                                                        <ul class="nav nav-tabs">
                                                                            <li class="active"><a href="#PageVn" data-toggle="tab"><img class="flag-language" src="/Content/Control/assets/flags/vn.svg"> Tiếng Việt</a></li>
                                                                            <li><a href="#PageEn" data-toggle="tab"><img class="flag-language" src="/Content/Control/assets/flags/en.svg"> Tiếng Anh</a></li>
                                                                        </ul>
                                                                        <div class="tab-content">
                                                                            <div class="tab-pane active" id="PageVn">
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.NameVn)</label>
                                                                                    <div class="col-sm-9">
                                                                                        @Html.TextBoxFor(model => model.NameVn, new { @class = "form-control", @placeholder = "Tên trang web" })
                                                                                        @Html.ValidationMessageFor(model => model.NameVn)
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.DescriptionPageVn)</label>
                                                                                    <div class="col-sm-9">
                                                                                        @Html.TextAreaFor(model => model.DescriptionPageVn, new { @class = "form-control", @placeholder = "" })
                                                                                        @Html.ValidationMessageFor(model => model.DescriptionPageVn)
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="tab-pane" id="PageEn">
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.NameEn)</label>
                                                                                    <div class="col-sm-9">
                                                                                        @Html.TextBoxFor(model => model.NameEn, new { @class = "form-control", @placeholder = "Tên trang web" })
                                                                                        @Html.ValidationMessageFor(model => model.NameEn)
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-3 control-label">@Html.DisplayNameFor(m => m.DescriptionPageEn)</label>
                                                                                    <div class="col-sm-9">
                                                                                        @Html.TextAreaFor(model => model.DescriptionPageEn, new { @class = "form-control", @placeholder = "" })
                                                                                        @Html.ValidationMessageFor(model => model.DescriptionPageEn)
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-flex">
                                                    <div class="col-sm-12">
                                                        <div class="tab-container tab-default">
                                                            <ul class="nav nav-tabs">
                                                                <li class="active"><a href="#tbbreakscrum" data-toggle="tab">Hình nền Sitemap</a></li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="tbbreakscrum">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-12">Hình nền</label>
                                                                        <div class="col-sm-12">
                                                                            <div class="fileinputcrop">
                                                                                <div class="fileinputcrop-preview" style="height: 260px;" data-elbinding="#BreakScrumBackgroundSrc" data-preview-el="#imgBreakScrumBackgroundSrc" data-note="Kích thước hình ảnh:  1920px x 600px.">
                                                                                    <img class="rounded max-width" id="imgBreakScrumBackgroundSrc" src="@StringExtension.ImageOrDefault(Model.BreakScrumBackgroundSrc, "", httpStatic)" alt="Preview">
                                                                                    <div class="img-inner-text">
                                                                                        <div class="shff">
                                                                                            <span class="icon ion-image"></span>
                                                                                            <p>Click để thêm ảnh</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    @Html.HiddenFor(m => m.BreakScrumBackgroundSrc)
                                                                                </div>
                                                                                <br />
                                                                                <small>Kích thước hình ảnh:  1920px x 600px.</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row row-flex">
                                                    <div class="col-sm-12">
                                                        <div class="tab-container tab-default">
                                                            <ul class="nav nav-tabs">
                                                                <li class="active"><a href="#activemenu" data-toggle="tab">Kích hoạt menu</a></li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="activemenu">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-1 control-label">Chọn menu</label>
                                                                        <div class="col-sm-8">
                                                                            <div class="row">
                                                                                @if (Model.MenuNodes != null)
                                                                                {
                                                                                    string check = (!string.IsNullOrEmpty(Model.MenuActiveId) && Model.MenuActiveId == "home") ? "checked" : "";
                                                                                    <div class="col-sm-12 radio">
                                                                                        <input type="radio" @check class="tectonic" id="menu_home" value="home" name="menuactives">
                                                                                        <label for="menu_home"> Trang chủ</label>
                                                                                    </div>
                                                                                    foreach (var item in Model.MenuNodes)
                                                                                    {
                                                                                        check = (!string.IsNullOrEmpty(Model.MenuActiveId) && item.Id == Model.MenuActiveId) ? "checked" : "";
                                                                                        <div class="col-sm-12 radio">
                                                                                            <input type="radio" @check class="tectonic" id="menu_@item.Id.ToString()" value="@item.Id.ToString()" name="menuactives">
                                                                                            <label for="menu_@item.Id.ToString()"> @item.NameVn</label>
                                                                                        </div>
                                                                                    }
                                                                                }
                                                                                @Html.HiddenFor(m => m.MenuActiveId)
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="tab-container tab-default">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a href="#tbpropertice" data-toggle="tab">Thuộc tính</a></li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tbpropertice">
                                                            <div class="accordion-group clearfix" id="accordionSEOGeneral">
                                                                <div class="panel accordion-item">
                                                                    <a class="accordion-title" data-toggle="collapse" data-parent="#accordionSEOGeneral" href="#collapseaSEOGeneral" aria-expanded="true"><h2>Thiết lập SEO</h2></a>
                                                                    <div id="collapseaSEOGeneral" class="collapse in" aria-expanded="true">
                                                                        <div class="accordion-body clearfix">
                                                                            <div class="row">
                                                                                <div class="tab-container tab-default">
                                                                                    <ul class="nav nav-tabs">
                                                                                        <li class="active"><a href="#PageSEOVn" data-toggle="tab"><img class="flag-language" src="/Content/Control/assets/flags/vn.svg"> Tiếng Việt</a></li>
                                                                                        <li><a href="#PageSEOEn" data-toggle="tab"><img class="flag-language" src="/Content/Control/assets/flags/en.svg"> Tiếng Anh</a></li>
                                                                                    </ul>
                                                                                    <div class="tab-content">
                                                                                        <div class="tab-pane active" id="PageSEOVn">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.TitleVn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.TitleVn, new { @class = "form-control", @placeholder = "Tiêu đề" })
                                                                                                    @Html.ValidationMessageFor(model => model.TitleVn)
                                                                                                </div>
                                                                                            </div>
                                                                                            @Html.HiddenFor(m => m.RouteDataUrlVnId)
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.SlugVn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.SlugVn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.SlugVn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.KeywordVn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextAreaFor(model => model.KeywordVn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.KeywordVn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.DescriptionVn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextAreaFor(model => model.DescriptionVn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.DescriptionVn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H1Vn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H1Vn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H1Vn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H2Vn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H2Vn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H2Vn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H3Vn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H3Vn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H3Vn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H4Vn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H4Vn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H4Vn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H5Vn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H5Vn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H5Vn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H6Vn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H6Vn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H6Vn)
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="tab-pane" id="PageSEOEn">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.TitleEn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.TitleEn, new { @class = "form-control", @placeholder = "Tiêu đề" })
                                                                                                    @Html.ValidationMessageFor(model => model.TitleEn)
                                                                                                </div>
                                                                                            </div>
                                                                                            @Html.HiddenFor(m => m.RouteDataUrlEnId)
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.SlugEn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.SlugEn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.SlugEn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.KeywordEn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextAreaFor(model => model.KeywordEn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.KeywordEn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.DescriptionEn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextAreaFor(model => model.DescriptionEn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.DescriptionEn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H1En)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H1En, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H1En)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H2En)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H2En, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H2En)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H3En)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H3En, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H3En)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H4En)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H4En, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H4En)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H5En)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H5En, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H5En)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.H6En)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.H6En, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.H6En)
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion-group clearfix" id="accordionOpenGraphMetaData">
                                                                <div class="panel accordion-item">
                                                                    <a class="accordion-title" data-toggle="collapse" data-parent="#accordionOpenGraphMetaData" href="#collapseaOpenGraphMetaData" aria-expanded="true"><h2>Thiết lập OpenGraph MetaData</h2></a>
                                                                    <div id="collapseaOpenGraphMetaData" class="collapse in" aria-expanded="true">
                                                                        <div class="accordion-body clearfix">
                                                                            <div class="row">

                                                                                <div class="tab-container tab-default">
                                                                                    <ul class="nav nav-tabs">
                                                                                        <li class="active"><a href="#tbOpenGraphMetaDataVn" data-toggle="tab"><img class="flag-language" src="/Content/Control/assets/flags/vn.svg"> Tiếng Việt</a></li>
                                                                                        <li><a href="#tbOpenGraphMetaDataEn" data-toggle="tab"><img class="flag-language" src="/Content/Control/assets/flags/en.svg"> Tiếng Anh</a></li>
                                                                                    </ul>
                                                                                    <div class="tab-content">
                                                                                        <div class="tab-pane active  clearfix" id="tbOpenGraphMetaDataVn">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.OgTitleVn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.OgTitleVn, new { @class = "form-control", @placeholder = "Tiêu đề" })
                                                                                                    @Html.ValidationMessageFor(model => model.OgTitleVn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.OgDescriptionVn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextAreaFor(model => model.OgDescriptionVn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.OgDescriptionVn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.OgSite_nameVn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.OgSite_nameVn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.OgSite_nameVn)
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="tab-pane" id="tbOpenGraphMetaDataEn">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.OgTitleEn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.OgTitleEn, new { @class = "form-control", @placeholder = "Tiêu đề" })
                                                                                                    @Html.ValidationMessageFor(model => model.OgTitleEn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.OgDescriptionEn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextAreaFor(model => model.OgDescriptionEn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.OgDescriptionEn)
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-12">@Html.DisplayNameFor(m => m.OgSite_nameEn)</label>
                                                                                                <div class="col-sm-12">
                                                                                                    @Html.TextBoxFor(model => model.OgSite_nameEn, new { @class = "form-control", @placeholder = "" })
                                                                                                    @Html.ValidationMessageFor(model => model.OgSite_nameEn)
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label class="col-sm-12">Hình ảnh đại diện OpenGraph MetaData</label>
                                                                                    <div class="col-sm-12">

                                                                                        <div class="fileinputcrop">
                                                                                            <div class="fileinputcrop-preview" style="height:200px;" data-elbinding="#OgImageSrc" data-preview-el="#ogimgSrc" data-note="Kích thước hình ảnh: tùy chỉnh theo người nhập liệu.">
                                                                                                <img class="rounded max-width" id="ogimgSrc" src="@StringExtension.ImageOrDefault(Model.OgImageSrc, "", httpStatic)" alt="Preview">
                                                                                                <div class="img-inner-text">
                                                                                                    <div class="shff">
                                                                                                        <span class="icon ion-image"></span>
                                                                                                        <p>Click để thêm ảnh</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                                @Html.HiddenFor(m => m.OgImageSrc)
                                                                                            </div>
                                                                                            <br />
                                                                                            <small>Kích thước hình ảnh: tùy chỉnh theo người nhập liệu.</small>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-md-12">

                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-12">@Html.DisplayNameFor(m => m.OgType)</label>
                                                                                        <div class="col-sm-12">
                                                                                            @Html.DropDownListFor(model => model.OgType, new List<SelectListItem>() {
                                                                                                    new SelectListItem() { Value = "website", Text = "Website" },
                                                                                                    new SelectListItem() { Value = "article", Text = "Article" },
                                                                                                    new SelectListItem() { Value = "video.other", Text = "Video.other" },
                                                                                                    new SelectListItem() { Value = "product", Text = "Product" },
                                                                                                }, "---Chọn---", new { @class = "form-control select2 select-placeholder" })
                                                                                            @Html.ValidationMessageFor(model => model.OgType)
                                                                                            <br />
                                                                                            @Html.ValidationMessageFor(model => model.OgType)
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-12">og:url</label>
                                                                                        <div class="col-sm-12">
                                                                                            <small>Hệ thống sẽ tự động đồng bộ Url trong phần Thiết lập SEO</small>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-2">
                                @Html.Button("<i class='fa fa-save'></i> Lưu", new { @class = "btn btn-primary", type = "submit" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- .container-fluid -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(function () {
        "use strict";
        menuActive('.user-interface');
        $('.fileinputcrop-preview').fmGSIDModal({
            url: '@Default.FileManagementConectDefault', // connector URL (REQUIRED)
            titleModal: 'Ảnh ',
            urlstatic: '@GSID.Admin.Controllers.BaseController.GSIDSessionSiteInformation.UrlAddressSiteMultimedia',
            multiple: false,
            folders: false,
        });


        $('form.EditHomePage').ajaxForm({
            delegation: true,
            beforeSerialize: function (form, opts) {
                $('#MenuActiveId').val($("input[name='menuactives']:checked").val());
            },
            beforeSubmit: function (arr, form, options) {
                var validator = form.validate(); // obtain validator
                var anyError = false;
                try {
                    form.find("input,select").each(function () {
                        if (!validator.element(this)) { // validate every input element inside this step
                            anyError = true;
                        }
                    });
                } catch (e) {
                }
                $('.tab-container .nav-tabs > li').each(function (index, value) {
                    var $tab = $(this);
                    var elName = $tab.find('a').attr('href');
                    var _hasValid = $(elName).find('.input-validation-error');
                    if (_hasValid.length > 0) {
                        $tab.addClass('input-validation-error');
                    }
                    else {
                        $tab.removeClass('input-validation-error');
                    }
                });
                if (anyError) {
                    return false; // exit if any error found
                }
                else {
                    swal({
                        title: "Đang xử lý dữ liệu",
                        html: true,
                        showConfirmButton: false
                    });
                }
            },
            success: function (data, statusText) {
                if (data.Status == '2') {
                    swal({
                        title: data.Title,
                        text: data.Message,
                        type: "success"
                    }, function () {
                    });
                }
                else {
                    swal(
                        data.Title,
                        data.Message,
                        'error'
                    )
                }
            },
            complete: function (xhr) {
                //status.html(xhr.responseText);
            },
            error: function () {
                swal(
                    'Tạo dữ liệu không thành công',
                    'Hệ thống bị gián đoạn internet hoặc mất kết nối đến máy chủ :)',
                    'error'
                )
            }
        });
    });
</script>
