@using MvcSiteMapProvider.Web.Html;
@using GSID.Model.Models;
@using GSID.WebApp.ViewModels;

@using GSID.WebApp.Helpers;
@model BusinessStatusCreateViewModel
@Html.MvcSiteMap().SiteMapPath("MyBreadscrum")
<div class="page-heading">
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
    <div class="options">
        <div class="btn-toolbar"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @using (Html.BeginForm("Create", "BusinessStatus", FormMethod.Post, new { @class = "form-horizontal row-border", enctype = "multipart/form-data" }))
        {
            <div class="col-md-12">
                <div class="panel panel-default alt" data-widget='{"id" : "wiget1"}'>
                    <div class="panel-heading">
                        <div class="panel-ctrls"
                             data-actions-container=""
                             data-action-collapse='{"target": ".panel-body"}'
                             data-action-refresh=''
                             data-action-close=''>
                        </div>
                        <h2>Thông tin tình trạng hoạt động</h2>
                    </div>
                    <div class="panel-editbox" data-widget-controls=""></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.Name) <span class="required">(*)</span></label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Tên tình trạng" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.HexColor, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                <div class="input-group cpicker" data-var-name="HexColor">
                                    @Html.TextBoxFor(model => model.HexColor, new { @class = "form-control", @placeholder = "Màu" })
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.HexColor)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.Sort) <span class="required">(*)</span></label>
                            <div class="col-sm-1">
                                @Html.TextBoxFor(model => model.Sort, new { @class = "form-control", placeholder = "Thứ tự hiển thị", value = "0" })
                                @Html.ValidationMessageFor(model => model.Sort)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.KeywordSync, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-3">
                                @Html.TextAreaFor(model => model.KeywordSync, new { @class = "form-control", @placeholder = "Nhập cụm từ đồng bộ" })
                                @Html.ValidationMessageFor(model => model.KeywordSync)
                                <span>Các cụm từ cách nhau bằng dấu ";"</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.IsDeleted) <span class="required">(*)</span></label>
                            <div class="col-sm-3">
                                @Html.DropDownListFor(model => model.IsDeleted, new List<SelectListItem>() {
                                        new SelectListItem() { Value = "False", Text = "Kích hoạt" },
                                        new SelectListItem() { Value = "True", Text = "Ngưng kích hoạt" }
                                    }, "---Chọn---", new { @class = "form-control select2 select-placeholder" })
                                @Html.ValidationMessageFor(model => model.IsDeleted)
                            </div>
                        </div>

                        <div class="clearfix pt20">
                            <div class="pull-right">
                                @Html.Button("<i class='fa fa-save'></i> Lưu", new { @class = "btn btn-primary", type = "submit" }).IfRole("Create", "BusinessStatus")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- .container-fluid -->
</div>
<!-- Begin Alert Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title"></h2>
            </div>
            <div class="modal-body">
                <p>Hệ thống đã lưu thông tin thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-success btn-alert-submit" style="display:none;">Đến cập nhật</button>
            </div>
            <input type="hidden" id="hdfid" />
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.End Alert Modal  -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.cpicker')
            .colorpicker()
            .on('changeColor.colorpicker', function (event) {
                var varVar = $(this).attr('data-var-name');
                $('#' + varVar).val(event.color.toHex());
            });

        $('#myModal .modal-footer .btn-alert-submit').click(function () {
            window.location.href = '@Url.Action("Update", "BusinessStatus")?gsid=' + $('#hdfid').val();
        });
    });
    $(function () {
        $('form').ajaxForm({
            delegation: true,
            beforeSubmit: function (arr, form, options) {
                var validator = form.validate(); // obtain validator
                var anyError = false;
                try {
                    form.find("input,select").each(function () {
                        if (!validator.element(this)) { // validate every input element inside this step
                            anyError = true;
                        }
                    });
                } catch (e) {
                }
                if (anyError) {
                    return false; // exit if any error found
                }
                $('#bodymask').show();
            },
            success: function (data, statusText) {
                var idmodal = '#myModal';
                $(idmodal + ' .modal-header .modal-title').text(data.Title);
                $(idmodal + ' .modal-body p').text(data.Message);
                if (data.Status == '2') {
                    $(idmodal + ' .modal-footer .btn-alert-submit').show();
                    $("#hdfid").val(data.Id);
                    $.validator.unobtrusive.parse("form");
                }
                $(idmodal).modal();
                $('#bodymask').hide();
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Hệ thống gặp vấn đề. Xin vui lòng kiểm tra lại mạng Internet');
                console.log("in ajaxForm error");
                $('#bodymask').hide();
            },
            complete: function (xhr) {
                console.log("in ajaxForm complete");
                //status.html(xhr.responseText);
            }
        });
    });
</script>
