@using GSID.Model.MongodbModels;
@using GSID.FrontEnd.Controllers;
@using GSID.Model.ExtraEntities;
@using GSID.Setting;
@model List<MenuNode>

@{
    List<GSID.FrontEnd.Models.Language> languages = (List<GSID.FrontEnd.Models.Language>)System.Web.HttpContext.Current.Application[SestionName.Languages];
    GSID.FrontEnd.Models.Language viLan = new GSID.FrontEnd.Models.Language();
    GSID.FrontEnd.Models.Language enLan = new GSID.FrontEnd.Models.Language();
    GSID.FrontEnd.Models.Language currentLan = new GSID.FrontEnd.Models.Language();
    if (languages != null)
    {
        viLan = languages.Where(i => i.Country == GSID.FrontEnd.Models.Language.LanguagueCountry.Vietmamese).FirstOrDefault();
        enLan = languages.Where(i => i.Country == GSID.FrontEnd.Models.Language.LanguagueCountry.English).FirstOrDefault();
        currentLan = languages.Where(i => i.Current == true).FirstOrDefault();
    }
    var SiteInformation = GSID.FrontEnd.Controllers.BaseController.GSIDSessionSiteInformation;
    string httpStatic = SiteInformation != null ? SiteInformation.UrlAddressSiteMultimedia : "";

    var MenuParents = (List<MenuNode>)ViewBag.MenuParents;
    var HomePageConfig = (HomePageManagementAdminConfig)ViewBag.HomePageConfig;
}

@if (Model != null)
{
    if (currentLan.Country == GSID.FrontEnd.Models.Language.LanguagueCountry.Vietmamese)
    {
    <ul class="navbar-nav menu w_menu ml-auto">
        @if (HomePageConfig != null && HomePageConfig.RouteDataUrlVn != null)
        {
            <li class="nav-item"><a class="nav-link" data-val="home" href="@HomePageConfig.RouteDataUrlVn.Url"><i class="ti-home"></i></a></li>
        }
        @if (MenuParents != null && MenuParents.Count > 0)
        {
            foreach (var x in MenuParents)
            {
                var yyy = Model.Where(w => w.ParentId == x.Id).ToList();
                if (x.HasChild && yyy.Count > 0)
                {
                    <li class="nav-item dropdown submenu mega_menu">
                        <a class="nav-link dropdown-toggle" data-val="@x.Id.ToString()" href="@x.SlugVn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@x.NameVn</a>
                        @if (yyy != null && yyy.Count > 0)
                        {
                            <div class="mega_menu_inner">
                                <ul class="dropdown-menu">
                                    @foreach (var y in yyy)
                                    {
                                        var zzz = Model.Where(w => w.ParentId == y.Id).ToList();

                                        <li class="nav-item">
                                            <a href="@y.SlugVn" data-val="@y.Id.ToString()" class="nav-link">@y.NameVn</a>
                                            @if (zzz != null && zzz.Count > 0)
                                            {
                                                <ul class="dropdown-menu">
                                                    @foreach (var z in zzz)
                                                    {
                                                        <li class="nav-item"><a href="@z.SlugVn" data-val="@z.Id.ToString()" class="nav-link">@z.NameVn</a></li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        }

                    </li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" data-val="@x.Id.ToString()" href="@x.SlugVn">@x.NameVn</a></li>
                }
            }
        }
    </ul>
    }
    else if (currentLan.Country == GSID.FrontEnd.Models.Language.LanguagueCountry.English)
    {
        <ul class="navbar-nav menu w_menu ml-auto">
            @if (HomePageConfig != null && HomePageConfig.RouteDataUrlEn != null)
            {
                <li class="nav-item"><a class="nav-link" data-val="home" href="@HomePageConfig.RouteDataUrlEn.Url"><i class="ti-home"></i></a></li>
            }
            @if (MenuParents != null && MenuParents.Count > 0)
            {
                foreach (var x in MenuParents)
                {
                    var yyy = Model.Where(w => w.ParentId == x.Id).ToList();
                    if (x.HasChild && yyy.Count > 0)
                    {
                        <li class="nav-item dropdown submenu mega_menu">
                            <a class="nav-link dropdown-toggle" href="@x.SlugEn" data-val="@x.Id.ToString()" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@x.NameEn</a>
                            @if (yyy != null && yyy.Count > 0)
                            {
                                <div class="mega_menu_inner">
                                    <ul class="dropdown-menu">
                                        @foreach (var y in yyy)
                                        {
                                            var zzz = Model.Where(w => w.ParentId == y.Id).ToList();

                                            <li class="nav-item">
                                                <a href="@y.SlugEn" data-val="@y.Id.ToString()" class="nav-link">@y.NameEn</a>
                                                @if (zzz != null && zzz.Count > 0)
                                                {
                                                    <ul class="dropdown-menu">
                                                        @foreach (var z in zzz)
                                                        {
                                                            <li class="nav-item"><a href="@z.SlugEn" data-val="@z.Id.ToString()" class="nav-link">@z.NameEn</a></li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }

                        </li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" data-val="@x.Id.ToString()" href="@x.SlugEn">@x.NameEn</a></li>
                    }
                }
            }
        </ul>
    }
}
